.banners-promocionais-statico{

.banners-promocionais-statico-vez{
    background-color: $rosa;;
    background-image: url('../images/parcele-em-12x.jpg');

.banners-promocionais-statico-br{
    background-color: $roxo;;
    background-image: url('../images/entrega-para-todo-brasil.jpg');   

    }
        
   
    
    }

    
    

    



}
        

    

    



