nav.nav-produtos{

    background: $cor-secundaria;
    color: $branco;
    a{color: $branco;}
    ul.nav{
        li{
            position: relative;
            padding: 10px 0;

            svg{
                font-size: 20px;
                margin-right: 10px;
            }
            
            &:hover{
                background: darken($color: $cor-primaria, $amount: 30%);

                ul.nav{
                    display: block;
                }
            }
            
            ul.nav{
                z-index: 999;
                display: none;

                position: absolute;
                top: 40px;
                background: $cor-primaria;
                border-bottom: solid $cor-secundaria 7px;
                border-bottom-left-radius:  20px;
                border-bottom-right-radius: 20px;
                width: 100%;
                color: $branco;
                
                
            }

        }
    }
    

    
 
}